@use '../variables' as *;
@use '../media' as *;

.hero {
  padding-top: 200px;
  color: $light;
  background-color: black;
  padding: 218px 0 245px;
  background-color: $purple;
  background-image: url('/img/bg-dog.png'), url('/img/pattern.svg');
  background-size: contain, auto;
  background-position: right bottom, center;
  background-repeat: no-repeat, repeat;

  @include bigscreen {
    background-image: url('/img/bg-dog-bigscreen.png'), url('/img/pattern.svg');
    background-position: left 48vw bottom 0, center;
    background-size: 1850px, auto;
  }

  @include laptop {
    padding: 148px 0 172px;
    background-image: url('/img/bg-dog-laptop.png'), url('/img/pattern.svg');
  }

  @include tablet {
    padding: 148px 0 461px;
    background-size: 655px 564px, cover;
    background-image: url('/img/bg-dog-tablet.png'), url('/img/pattern.svg');
  }

  @include mobile {
    padding: 100px 0 284px;
    background-size: 294px 261px, cover;
    background-image: url('/img/bg-dog-mobile.png'), url('/img/pattern.svg');
  }

  &__title {
    width: 810px;
    max-width: 100%;
    margin-bottom: 50px;

    @media (max-width: 1300px) {
      width: 660px;
    }

    @include laptop {
      width: 588px;
      margin-bottom: 32px;
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__text {
    max-width: 440px;
    margin-bottom: 60px;

    @include bigscreen {
      max-width: 540px;
    }

    @include laptop {
      max-width: 360px;
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__store-link {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 40px;
    padding: 16px 24px;
    background-color: $green;
    font-weight: 700;
    text-align: center;
    color: $light;

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: url('/img/arrow-to-store.svg') no-repeat center/contain;
    }
  }
}
