.store {
  padding-top: 120px;
  padding-bottom: 120px;

  &__header {
  }

  &__categories {
    display: flex;
    gap: 28px;
    position: relative;
  }

  &__category-item {
  }

  &__category-button {
    &--active {
    }
  }

  &__cart-button {
  }

  &__title {
  }

  &__list {
  }

  &__item {
  }

  &__product {
  }
}
.container {
}

.title {
}
