$bigscreen: 1600px;
$laptop: 1140px;
$tablet: 940px;
$mobile: 520px;

@mixin bigscreen {
  @media (min-width: $bigscreen) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}
